# Temporary files
*~
\#*

# Target folder
target/*
/target/

# Eclipse files
.classpath
.pmd
.project
.settings/*

# IntelliJ files
.idea
*.iml

# Received emails folder
received-emails/*
emails-recus/*
